In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
cars = os.path.join("..","electric_cars","vehicle-fuel-type-count-by-zip-code.csv")
geocodes_raw = os.path.join("..","electric_cars","fips_zip_x.csv")
cars_data = pd.read_csv(cars)
geocodes = pd.read_csv(geocodes_raw)
cars_data.head()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
0,10/1/2018,90000,2006,Gasoline,OTHER/UNK,Light,1
1,10/1/2018,90000,2014,Gasoline,OTHER/UNK,Light,1
2,10/1/2018,90000,2016,Gasoline,OTHER/UNK,Light,1
3,10/1/2018,90000,2017,Gasoline,OTHER/UNK,Light,1
4,10/1/2018,90000,<2006,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,55

In [3]:
cars_data['Vehicles'].sum()

30411713

In [10]:
geocodes.dtypes
#geocodes["Zip Code"].astype(str)

Unnamed: 0    int64
ZCTA5         int64
STATE         int64
COUNTY        int64
dtype: object

In [4]:
geocodes.head()

   Unnamed: 0  ZCTA5  STATE  COUNTY
0       40738  89010      6      51
1       40748  89019      6      27
2       40749  89019      6      71
3       40774  89060      6      27
4       40776  89061      6      27

In [5]:
#num_schools=school_data_complete["school_name"].nunique()
cars_description = cars_data["Fuel"].unique()
print(cars_description)

['Gasoline' 'Diesel and Diesel Hybrid' 'Battery Electric' 'Other'
 'Flex-Fuel' 'Hybrid Gasoline' 'Natural Gas' 'Plug-in Hybrid'
 'Hydrogen Fuel Cell']

In [16]:
geocodes =geocodes.rename(columns={"ZCTA5":"Zip Code"})
cars_data =cars_data.rename(columns={'Zip Code': 'Zip Code'})

In [61]:
cars_merge_county = pd.merge(cars_data, geocodes, how="inner", on=["Zip Code"])

In [62]:
cars_merge_county
cars = cars_merge_county.dropna()
cars.head(50)

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles,Unnamed: 0,STATE,COUNTY
0,10/1/2018,90001,2006,Diesel and Diesel Hybrid,FORD,Heavy,16,40937,6,37
1,10/1/2018,90001,2006,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,23,40937,6,37
2,10/1/2018,90001,2006,Diesel and Diesel Hybrid,OTHER/UNK,Light,9,40937,6,37
3,10/1/2018,90001,2006,Battery Electric,OTHER/UNK,Light,1,40937,6,37
4,10/1/2018,90001,2006,Flex-Fuel,CHEVROLET,Light,41,40937,6,37
5,10/1/2018,90001,2006,Flex-Fuel,OTHER/UNK,Light,24,40937,6,37
6,10/1/2018,90001,2006,Gasoline,ACURA,Light,35,40937,6,37
7,10/1/2018,90001,2006,Gasoline,BMW,Light,70,40937,6,37
8,10/1/2018,90001,2006,Gasoline,CADILLAC,Light,21,40937,6,37
9,10/1/2018,90001,2006,Gasoline,CHEVROLET,Light,157,40937,6,37
10,10/1/2018,90001,2006,Gasoline,CHRYSLER,Light,87,40937,6,37
11,10/1/2018,90001,2006,Gasoline,DODGE,Light,83,40937,6,37
12,10/1/2018,90001,2006,Gasoline,FORD,Light,154,40937,6,37
13,10/1/2018,90001,2006,Gasoline,GMC,Light,42,40937,6,37
14,10/1/2018,90001,2006,Gasoline,HONDA,Light,196,40937,6,37
15,10/1/2018,90001,2006,Gasoline,INFINITI,Light,36,40937,6,37
16,10/1/2018,90001,2006,Gasoline,JEEP,Light,41,40937,6,37
17,10/1/2018,90001,2006,Gasoline,KIA,Light,30,40937,6,37
18,10/1/2018,90001,2006,Gasoline,LEXUS,Light,21,40937,6,37
19,10/1/2018,90001,2006,Gasoline,MAZDA,Light,18,40937,6,37
20,10/1/2018,90001,2006,Gasoline,MERCEDES-BENZ,Light,16,40937,6,37
21,10/1/2018,90001,2006,Gasoline,NISSAN,Light,250,40937,6,37
22,10/1/2018,90001,2006,Gasoline,OTHER/UNK,Heavy,8,40937,6,37
23,10/1/2018,90001,2006,Gasoline,OTHER/UNK,Light,93,40937,6,37
24,10/1/2018,90001,2006,Gasoline,PONTIAC,Light,25,40937,6,37
25,10/1/2018,90001,2006,Gasoline,SCION,Light,78,40937,6,37
26,10/1/2018,90001,2006,Gasoline,TOYOTA,Light,261,40937,6,37
27,10/1/2018,90001,2006,Gasoline,VOLKSWAGEN,Light,18,40937,6,37
28,10/1/2018,90001,2006,Hybrid Gasoline,OTHER/UNK,Light,12,40937,6,37
29,10/1/2018,90001,2006,Hybrid Gasoline,TOYOTA,Light,15,40937,6,37
30,10/1/2018,90001,2006,Natural Gas,OTHER/UNK,Light,1,40937,6,37
31,10/1/2018,90001,2007,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,27,40937,6,37
32,10/1/2018,90001,2007,Diesel and Diesel Hybrid,OTHER/UNK,Light,10,40937,6,37
33,10/1/2018,90001,2007,Flex-Fuel,CHEVROLET,Light,78,40937,6,37
34,10/1/2018,90001,2007,Flex-Fuel,OTHER/UNK,Light,17,40937,6,37
35,10/1/2018,90001,2007,Gasoline,ACURA,Light,16,40937,6,37
36,10/1/2018,90001,2007,Gasoline,BMW,Light,40,40937,6,37
37,10/1/2018,90001,2007,Gasoline,CADILLAC,Light,35,40937,6,37
38,10/1/2018,90001,2007,Gasoline,CHEVROLET,Light,183,40937,6,37
39,10/1/2018,90001,2007,Gasoline,CHRYSLER,Light,63,40937,6,37
40,10/1/2018,90001,2007,Gasoline,DODGE,Light,87,40937,6,37
41,10/1/2018,90001,2007,Gasoline,FORD,Light,101,40937,6,37
42,10/1/2018,90001,2007,Gasoline,GMC,Light,47,40937,6,37
43,10/1/2018,90001,2007,Gasoline,HONDA,Light,182,40937,6,37
44,10/1/2018,90001,2007,Gasoline,HYUNDAI,Light,21,40937,6,37
45,10/1/2018,90001,2007,Gasoline,INFINITI,Light,34,40937,6,37
46,10/1/2018,90001,2007,Gasoline,JEEP,Light,30,40937,6,37
47,10/1/2018,90001,2007,Gasoline,KIA,Light,16,40937,6,37
48,10/1/2018,90001,2007,Gasoline,LEXUS,Light,39,40937,6,37
49,10/1/2018,90001,2007,Gasoline,LINCOLN,Light,14,40937,6,37

In [63]:
cars['Vehicles'].sum()

32288952

In [37]:
#cars data has 584338 observations
#after merge there are 590123
#there are an additional .98% observations

len(cars_data)

584338